.catering {
    width: 100%;
    .container {
        @include wrapper();
        .catering_items {
            @include row-flex();
            .catering_items-item {
                @include col();
                @include size(4);
                @include size-lg(4);
                @include size-md(4);
                @include size-sm(12);
                position: relative;
                margin-bottom: 66px;
                img {
                    position: absolute;
                    width: 100%;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    
                }

                .catering-name {
                    color: #ffffff;
                    font-family: 'Yellowtail';
                    font-size: 45px;
                    font-weight: 400;
                    line-height: 35px;
                    display: block;
                    position: relative;
                    z-index: 3;
                    text-align: center;
                    line-height: 473px;
                }
            }
        }
    }
}



.catering_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 103px;
}