.galery {
    width: 100%;
    padding: 0 50px;
    padding-bottom: 110px;
    box-sizing: border-box;
    .galery_holder {
        width: 100%;
        background-color: #fff;
        padding-top: 65px;
        .section_title {
            margin-bottom: 113px;
        }
    }
}

.galery_items {
    @include row-flex();
    justify-content: center;
    .galery_items_item {
        @include col();
        @include size(4);
        @include size-xl(4);
        @include size-lg(6);
        @include size-md(10);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 57px;
        .small_item {
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.2, 1.2);
                    transition: 0.5s linear;
                }
            }
            img {
                transition: 0.5s linear;
            }
        }        
        .galery_item_big{
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.2, 1.2);
                    transition: 0.5s linear;
                }
            }
            img {
                transition: 0.5s linear;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .galery_items {
        .galery_items_item {
            margin-bottom: 25px;
            &:nth-child(3) {
                order: -1;
            }
            &:nth-child(2) {
                @include size-lg(12);
                flex-direction: row;
                justify-content: space-between;
                .small_item {
                    width: 48.64%;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .galery_items {
        .galery_items_item {
            margin-bottom: 25px;
            .small_item {
                margin-bottom: 25px;
                img {
                    width: 100%;
                }
            }
            &:nth-child(3) {
                order: -1;
                img {
                    width: 100%;
                }
            }
            &:nth-child(2) {
                @include size-lg(10);
                flex-direction: column;
                justify-content: space-between;
                .small_item {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .galery {
        padding: 0 5px;
        padding-bottom: 110px;
        .galery_holder {
            width: 100%;
            background-color: #fff;
            padding-top: 0;
            .section_title {
                margin-bottom: 113px;
            }
        }
    }
}