.header {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    .top_header {
        width: 100%;
        background-color: #f3f1ec;
        .main_nav {
            @include wrapper();
            background-color: inherit;
            min-height: 56px;
            color: #808369;
            box-shadow: none;
            display: flex;
            align-items: center;
            justify-content: center;
            .sidenav-trigger {
                color: #808369;
                align-self: center;
                margin-left: auto;
                i {
                    display: inline;
                }
            }
            .hide-on-med-and-down {
                display: flex;
                justify-content: center;
                align-items: center;
                .menu_item {
                    padding: 0 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::after {
                        content: '';
                        display: block;
                        background-color: #d0ceca;
                        width: 1px;
                        height: 16px;
                        transform: translateX(20px);
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                    a {
                        color: #808369;
                        text-transform: uppercase;
                        font-size: 18px;
                        letter-spacing: 1.4px;
                        padding: 0;
                        i {
                            display: inline;
                        }
                    }
                }
            }
            .sidenav {
                background-color: #f3f1ec;
                li {
                    padding-top: 10px;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: #808369;
                        text-transform: uppercase;
                        font-size: 18px;
                        letter-spacing: 1.4px;
                        padding: 0;
                        i {
                            display: inline;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
    .header_contacts {
        @include wrapper();
        padding-top: 59px;
        .header_contacts_items {
            @include row-flex();
            justify-content: center;
            .header-contacts-items__item {
                @include col();
                @include size(4);
                @include size-xs(6);
                display: flex;
                justify-content: center;
                color: #808369;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
                .contacts {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                .cart {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .header_contacts {
        .header_contacts_items {
            .header-contacts-items__item {
                color: #808369;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
                letter-spacing: 1.4px;
                margin-bottom: 10px;
                &:nth-child(3) {
                    order: -1;
                }
                .contacts {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                .cart {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
        }
    }
}
