.menu {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    .menu_holder {
        width: 100%;
        background-color: #f3f1ec;
        padding-top: 165px;
        padding-bottom: 120px;
        .section_title {
            margin-bottom: 113px;
        }
    }
}

.container {
    @include wrapper();
    .menu_items {
        @include row-flex();
        margin-bottom: 57px;
        .menu_items_item {
            @include col();
            @include size(3);
            @include size-lg(3);
            @include size-md(6);
            @include size-sm(12);
            box-sizing: border-box;
            padding: 15px;
            position: relative;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .menu_item_name {
                margin-top: 42px;
                margin-bottom: 42px;
                color: #808369;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1.6px;
            }
            .arrow_down {
                background-color: #f3f1ec;
                width: 50px;
                height: 50px;
                transform: translate(-50%, -50%);
                i {
                    top: 30%;
                    left: 40%
                }
            }
        }
    }
    .menu_etc {
        text-align: center;
        color: #808369;
        font-size: 20px;
        font-weight: 700;
        line-height: 35px;
        margin-bottom: 58px;
    }

}