.stuff {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    .stuff_holder {
        width: 100%;
        background-color: #f3f1ec;
        padding-top: 165px;
        .section_title {
            margin-bottom: 113px;
        }
    }
    .container {
        padding-bottom: 60px;
    }
}

.container {
    @include wrapper();
    .stuff_items {
        @include row-flex();
        margin-bottom: 57px;
        justify-content: center;
        .stuff_items_item {
            @include col();
            @include size(3);
            @include size-lg(3);
            @include size-md(6);
            @include size-sm(10);
            box-sizing: border-box;
            padding: 15px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .stuff_item_name {
                margin-top: 48px;
                margin-bottom: 14px;
                color: #808369;
                font-size: 20px;
                font-weight: 700;
                line-height: 35px;
            }
            .stuff_item_role {
                color: #929292;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 559px) {
    .stuff{
        padding: 0 5px;
    }
}