@include reset();
body {
    font-family: 'PT_Serif';
    max-width: 1920px;
    margin: 0 auto;
}

//header,
//section,
//footer {
//    max-width: 1920px;
//    margin: 0 auto;
//}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    &:hover {
        text-decoration: none;
    }
}

.container {
    @include wrapper();
    padding-bottom: 110px;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button,
.button {
    width: 273px;
    height: 72px;
    background-color: #ffb18b;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-family: 'PT_Serif';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    line-height: 72px;
}

.arrow_down {
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 60%);
    z-index: 10;
    cursor: pointer;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.section_title {
    width: 33.33%;
    min-height: 97px;
    margin: 110px auto 106px;
    background-image: url(../img/logo2.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    .section_title-name {
        display: block;
        margin: 0 auto;
        color: #808369;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        margin-bottom: 15px;
    }
    .section-title_heading {
        color: #434343;
        max-width: 340px;
        margin: 0 auto;
        font-family: "PT Serif";
        font-size: 35px;
        font-weight: 700;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 111px;
            height: 2px;
            background-color: #a7a99a;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -45px;
        }
    }
}

@media screen and (max-width: 780px) {
    .section_title {
        width: 65%;
    }
}

