@font-face {
  font-family: 'PT_Serif';
  font-weight: 400;
  src: url("../fonts/PT_Serif/PT_Serif-Web-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'PT_Serif';
  font-weight: 700;
  src: url("../fonts/PT_Serif/PT_Serif-Web-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'Yellowtail';
  font-weight: 400;
  src: url("../fonts/Yellowtail/Yellowtail-Regular.ttf") format("ttf"); }

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img, abbr {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: 'PT_Serif'; }

a {
  display: block;
  text-decoration: none;
  text-align: center; }
  a:hover {
    text-decoration: none; }

.button_container {
  width: 100%;
  display: flex;
  justify-content: center; }

button,
.button {
  width: 273px;
  height: 72px;
  background-color: #ffb18b;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-family: 'PT_Serif';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  line-height: 72px; }

.arrow_down {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -38%);
  z-index: 10; }
  .arrow_down i {
    position: absolute;
    top: 23%;
    left: 46%; }

.section_title {
  width: 33.33%;
  min-height: 97px;
  margin: 110px auto 106px;
  background-image: url(../img/logo2.png);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center; }
  .section_title .section_title-name {
    display: block;
    margin: 0 auto;
    color: #808369;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 15px; }
  .section_title .section-title_heading {
    color: #434343;
    max-width: 340px;
    margin: 0 auto;
    font-family: "PT Serif";
    font-size: 35px;
    font-weight: 700;
    position: relative; }
    .section_title .section-title_heading::after {
      content: '';
      display: block;
      width: 111px;
      height: 2px;
      background-color: #a7a99a;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -45px; }

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 776px;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%; }
  .carousel.carousel-slider {
    top: 0;
    left: 0; }
    .carousel.carousel-slider .carousel-fixed-item {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 1; }
      .carousel.carousel-slider .carousel-fixed-item.with-indicators {
        bottom: 68px; }
    .carousel.carousel-slider .carousel-item {
      width: 100%;
      height: 100%;
      min-height: 776px;
      position: absolute;
      top: 0;
      left: 0; }
      .carousel.carousel-slider .carousel-item h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px; }
      .carousel.carousel-slider .carousel-item p {
        font-size: 15px; }
  .carousel .carousel-item {
    visibility: hidden;
    width: 388px;
    height: 388px;
    position: absolute;
    top: 0;
    left: 0; }
    .carousel .carousel-item > img {
      width: 100%; }
  .carousel .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 80px;
    margin: 0; }
    .carousel .indicators .indicator-item {
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 9px;
      width: 9px;
      margin: 24px 4px;
      margin-right: 19px;
      background-color: rgba(255, 255, 255, 0.5);
      transition: background-color .3s;
      border-radius: 50%; }
      .carousel .indicators .indicator-item.active {
        background-color: #fff; }
  .carousel.scrolling .carousel-item .materialboxed,
  .carousel .carousel-item:not(.active) .materialboxed {
    pointer-events: none; }

.header {
  max-width: 100%;
  padding: 0 50px;
  box-sizing: border-box; }
  .header .top_header {
    width: 100%;
    background-color: #f3f1ec; }
    .header .top_header .main_nav {
      max-width: 1170px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px; }
      @media screen and (max-width: 780px) {
        .header .top_header .main_nav {
          padding-left: 15px;
          padding-right: 15px; } }
      .header .top_header .main_nav ul {
        display: flex;
        justify-content: center; }
        .header .top_header .main_nav ul li {
          padding: 23px 25px;
          display: flex;
          justify-content: space-between; }
          .header .top_header .main_nav ul li::after {
            content: '';
            display: block;
            background-color: #d0ceca;
            width: 1px;
            height: 16px;
            transform: translateX(25px); }
          .header .top_header .main_nav ul li:last-child::after {
            display: none; }
          .header .top_header .main_nav ul li a {
            color: #808369;
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 1.4px; }
  .header .header_contacts {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 59px; }
    @media screen and (max-width: 780px) {
      .header .header_contacts {
        padding-left: 15px;
        padding-right: 15px; } }
    .header .header_contacts .header_contacts_items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .header .header_contacts .header_contacts_items .header-contacts-items__item {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(33.33333% - 30px);
        display: flex;
        justify-content: center;
        color: #808369;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: 1.4px; }
        @media screen and (max-width: 1920px) {
          .header .header_contacts .header_contacts_items .header-contacts-items__item {
            width: calc(33.33333% - 30px); } }
        @media screen and (max-width: 960px) {
          .header .header_contacts .header_contacts_items .header-contacts-items__item {
            width: calc(33.33333% - 30px); } }
        @media screen and (max-width: 780px) {
          .header .header_contacts .header_contacts_items .header-contacts-items__item {
            width: calc(100% - 30px); } }
        .header .header_contacts .header_contacts_items .header-contacts-items__item .contacts {
          display: flex;
          flex-direction: column;
          align-items: flex-end; }
        .header .header_contacts .header_contacts_items .header-contacts-items__item .cart {
          display: flex;
          flex-direction: column;
          align-items: flex-end; }

.main_carousel {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px; }
  .main_carousel .carousel_size_keeper {
    width: 100%;
    height: 0;
    padding-bottom: 42.48%;
    box-sizing: border-box;
    position: relative; }
    .main_carousel .carousel_size_keeper .carousel_coatainer {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%; }
      .main_carousel .carousel_size_keeper .carousel_coatainer .carousel {
        height: 100% !important; }

.carousel-item-descr {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .carousel-item-descr h1 {
    max-width: 770px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 200px;
    position: relative; }
    .carousel-item-descr h1::before, .carousel-item-descr h1::after {
      content: '';
      display: block;
      width: 111px;
      height: 2px;
      background-color: #fff;
      position: absolute; }
    .carousel-item-descr h1::before {
      top: -60px;
      left: 50%;
      transform: translateX(-50%); }
    .carousel-item-descr h1::after {
      top: 185px;
      left: 50%;
      transform: translateX(-50%); }

.catering {
  width: 100%; }
  .catering .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 780px) {
      .catering .container {
        padding-left: 15px;
        padding-right: 15px; } }
    .catering .container .catering_items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px; }
      .catering .container .catering_items .catering_items-item {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(33.33333% - 30px);
        position: relative;
        margin-bottom: 66px; }
        @media screen and (max-width: 1920px) {
          .catering .container .catering_items .catering_items-item {
            width: calc(33.33333% - 30px); } }
        @media screen and (max-width: 960px) {
          .catering .container .catering_items .catering_items-item {
            width: calc(33.33333% - 30px); } }
        @media screen and (max-width: 780px) {
          .catering .container .catering_items .catering_items-item {
            width: calc(100% - 30px); } }
        .catering .container .catering_items .catering_items-item img {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 2; }
        .catering .container .catering_items .catering_items-item .catering-name {
          color: #ffffff;
          font-family: 'Yellowtail';
          font-size: 45px;
          font-weight: 400;
          line-height: 35px;
          display: block;
          position: relative;
          z-index: 3;
          text-align: center;
          line-height: 473px; }

.catering_button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 103px; }

.about_us {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px; }
  .about_us .about_us-banner {
    width: 100%;
    max-height: 696px;
    position: relative;
    background-color: #232323;
    background: url(../img/about_us_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px; }
    .about_us .about_us-banner .section_title {
      position: relative;
      z-index: 2; }
      .about_us .about_us-banner .section_title .section_title-name {
        color: #fff; }
      .about_us .about_us-banner .section_title .section-title_heading {
        color: #fff; }
    .about_us .about_us-banner .about_us-story {
      max-width: 1168px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      box-sizing: border-box;
      transform: translateY(5px); }
      .about_us .about_us-banner .about_us-story img {
        max-width: 583px; }
      .about_us .about_us-banner .about_us-story .story {
        max-width: 585px;
        box-sizing: border-box;
        padding: 90px 70px 0 70px;
        background-color: #fff; }
        .about_us .about_us-banner .about_us-story .story .story_header {
          max-width: 397px;
          color: #808369;
          font-size: 22px;
          font-weight: 700;
          line-height: 33px;
          margin-bottom: 42px; }
        .about_us .about_us-banner .about_us-story .story .story_text {
          color: #929292;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 60px; }
          .about_us .about_us-banner .about_us-story .story .story_text span {
            color: #434343;
            font-size: 28px;
            font-weight: 700; }

.menu {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box; }
  .menu .menu_holder {
    width: 100%;
    background-color: #f3f1ec;
    padding-top: 165px;
    padding-bottom: 120px; }
    .menu .menu_holder .section_title {
      margin-bottom: 113px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 780px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }
  .container .menu_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 57px; }
    .container .menu_items .menu_items_item {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(25% - 30px);
      box-sizing: border-box;
      padding: 15px;
      position: relative;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      @media screen and (max-width: 1920px) {
        .container .menu_items .menu_items_item {
          width: calc(25% - 30px); } }
      @media screen and (max-width: 960px) {
        .container .menu_items .menu_items_item {
          width: calc(50% - 30px); } }
      @media screen and (max-width: 780px) {
        .container .menu_items .menu_items_item {
          width: calc(100% - 30px); } }
      .container .menu_items .menu_items_item .menu_item_name {
        margin-top: 42px;
        margin-bottom: 42px;
        color: #808369;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.6px; }
      .container .menu_items .menu_items_item .arrow_down {
        background-color: #f3f1ec;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%); }
        .container .menu_items .menu_items_item .arrow_down i {
          top: 30%;
          left: 40%; }
  .container .menu_etc {
    text-align: center;
    color: #808369;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 58px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 135px; }
  @media screen and (max-width: 780px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }
  .container .services_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: center;
    margin-bottom: 65px; }
    .container .services_list .services_column {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(33.33333% - 30px); }
      @media screen and (max-width: 1920px) {
        .container .services_list .services_column {
          width: calc(33.33333% - 30px); } }
      @media screen and (max-width: 960px) {
        .container .services_list .services_column {
          width: calc(33.33333% - 30px); } }
      @media screen and (max-width: 780px) {
        .container .services_list .services_column {
          width: calc(83.33333% - 30px); } }
      .container .services_list .services_column .service_item {
        display: flex; }
        .container .services_list .services_column .service_item .service_num {
          padding: 0 20px;
          color: #eae7e0;
          font-size: 40px;
          font-weight: 700;
          text-transform: uppercase; }
        .container .services_list .services_column .service_item .service_type {
          box-sizing: border-box;
          padding-top: 10px; }
          .container .services_list .services_column .service_item .service_type .service_name {
            color: #808369;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.8px;
            margin-bottom: 55px;
            position: relative; }
            .container .services_list .services_column .service_item .service_type .service_name::after {
              content: '';
              display: block;
              width: 111px;
              height: 2px;
              background-color: #a7a99a;
              position: absolute; }
          .container .services_list .services_column .service_item .service_type .service_description {
            color: #929292;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 54px; }
      .container .services_list .services_column:nth-child(1) .service_item .service_type:nth-child(1), .container .services_list .services_column:nth-child(1) .service_item .service_type:nth-child(2), .container .services_list .services_column:nth-child(1) .service_item .service_type:nth-child(3) {
        text-align: right; }
        .container .services_list .services_column:nth-child(1) .service_item .service_type:nth-child(1) .service_name::after, .container .services_list .services_column:nth-child(1) .service_item .service_type:nth-child(2) .service_name::after, .container .services_list .services_column:nth-child(1) .service_item .service_type:nth-child(3) .service_name::after {
          top: 41px;
          right: 0; }
      .container .services_list .services_column:nth-child(3) .service_item .service_type:nth-child(1), .container .services_list .services_column:nth-child(3) .service_item .service_type:nth-child(2), .container .services_list .services_column:nth-child(3) .service_item .service_type:nth-child(3) {
        text-align: left; }
        .container .services_list .services_column:nth-child(3) .service_item .service_type:nth-child(1) .service_name::after, .container .services_list .services_column:nth-child(3) .service_item .service_type:nth-child(2) .service_name::after, .container .services_list .services_column:nth-child(3) .service_item .service_type:nth-child(3) .service_name::after {
          top: 41px;
          left: 0; }
      .container .services_list .services_column:nth-child(2) {
        display: flex;
        align-items: center; }

.book_today {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px; }
  .book_today .section_holder {
    width: 100%;
    max-height: 696px;
    padding-top: 196px;
    background-image: url(../img/book_today.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    .book_today .section_holder .container {
      max-width: 1170px;
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px; }
      @media screen and (max-width: 780px) {
        .book_today .section_holder .container {
          padding-left: 15px;
          padding-right: 15px; } }
      .book_today .section_holder .container .section_title {
        width: 52.33%;
        background-image: url(../img/logo3.png);
        margin-top: 0; }
        .book_today .section_holder .container .section_title .section_title-name {
          color: #ffffff; }
        .book_today .section_holder .container .section_title .section-title_heading {
          min-width: 632px;
          color: #ffffff;
          font-size: 50px;
          font-weight: 700;
          margin: 0 auto; }

.testimonals {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box; }
  .testimonals .section_holder {
    width: 100%;
    background-color: #f3f1ec;
    padding-top: 110px;
    padding-bottom: 110px; }
    .testimonals .section_holder .container {
      padding-bottom: 10px; }

.testimonals_carousel {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 780px) {
    .testimonals_carousel {
      padding-left: 15px;
      padding-right: 15px; } }
  .testimonals_carousel .testimonals_carousel_size_keeper {
    width: 100%;
    height: 0;
    padding-bottom: 28.23%;
    box-sizing: border-box;
    position: relative; }
    .testimonals_carousel .testimonals_carousel_size_keeper .testimonals_carousel_container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2; }
      .testimonals_carousel .testimonals_carousel_size_keeper .testimonals_carousel_container .carousel {
        height: 100% !important; }

.testimonal_item {
  position: relative; }
  .testimonal_item .testimonal_foto {
    text-align: center;
    position: relative;
    z-index: 3;
    width: 110px;
    height: 110px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #f3f1ec;
    margin: 0 auto;
    background-image: url(../img/testimonals.png);
    background-repeat: no-repeat;
    background-size: 95px 95px;
    background-position: center center; }
  .testimonal_item .testimonal_text {
    box-sizing: border-box;
    background-color: #fff;
    padding: 88px 148px 28px;
    position: relative;
    z-index: 2;
    top: -55px; }
    .testimonal_item .testimonal_text .main_text {
      color: #808369;
      font-size: 20px;
      font-weight: 700;
      line-height: 33px;
      text-align: center;
      margin-bottom: 76px; }
    .testimonal_item .testimonal_text .signature {
      text-align: center;
      color: #929292;
      font-size: 14px;
      font-weight: 400; }

.carousel_controls .controls {
  width: 60px;
  height: 60px;
  background-color: #f3f1ec;
  border-radius: 50%;
  position: absolute;
  cursor: pointer; }

.carousel_controls .control_prev {
  top: 160px;
  left: -30px; }
  .carousel_controls .control_prev i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%); }

.carousel_controls .control_next {
  top: 160px;
  right: -30px; }
  .carousel_controls .control_next i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%); }

.blog {
  width: 100%; }
  .blog .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-width: 780px) {
      .blog .container {
        padding-left: 15px;
        padding-right: 15px; } }
    .blog .container .blog_items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;
      justify-content: center;
      margin-bottom: 74px; }
      .blog .container .blog_items .blog_items-item {
        box-sizing: border-box;
        word-wrap: break-word;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(33.33333% - 30px); }
        @media screen and (max-width: 1920px) {
          .blog .container .blog_items .blog_items-item {
            width: calc(33.33333% - 30px); } }
        @media screen and (max-width: 960px) {
          .blog .container .blog_items .blog_items-item {
            width: calc(75% - 30px); } }
        @media screen and (max-width: 780px) {
          .blog .container .blog_items .blog_items-item {
            width: calc(75% - 30px); } }
        .blog .container .blog_items .blog_items-item img {
          width: 100%; }
        .blog .container .blog_items .blog_items-item .blog_article {
          text-align: center; }
          .blog .container .blog_items .blog_items-item .blog_article .article_date {
            color: #808369;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            margin-top: 35px; }
          .blog .container .blog_items .blog_items-item .blog_article .article_header {
            color: #434343;
            font-size: 22px;
            font-weight: 700;
            line-height: 33px;
            margin-top: 17px;
            position: relative; }
            .blog .container .blog_items .blog_items-item .blog_article .article_header::after {
              content: '';
              display: block;
              width: 111px;
              height: 2px;
              background-color: #a7a99a;
              position: absolute;
              top: 81px;
              left: 50%;
              transform: translateX(-50%); }

.chef {
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px; }
  .chef .chef-banner {
    width: 100%;
    max-height: 696px;
    position: relative;
    background-color: #232323;
    background: url(../img/cheaf-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 110px; }
    .chef .chef-banner .section_title {
      position: relative;
      z-index: 2; }
      .chef .chef-banner .section_title .section_title-name {
        color: #fff; }
      .chef .chef-banner .section_title .section-title_heading {
        color: #fff; }
    .chef .chef-banner .chef-story {
      max-width: 1168px;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      box-sizing: border-box;
      transform: translateY(5px); }
      .chef .chef-banner .chef-story img {
        max-width: 583px; }
      .chef .chef-banner .chef-story .story {
        max-width: 585px;
        box-sizing: border-box;
        padding: 90px 70px 0 70px;
        background-color: #fff; }
        .chef .chef-banner .chef-story .story .story_text {
          color: #929292;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          background-image: url(../img/curlib.png);
          background-repeat: no-repeat;
          background-size: auto;
          background-position: top left;
          margin-bottom: 82px;
          position: relative; }
          .chef .chef-banner .chef-story .story .story_text::after {
            content: '';
            display: block;
            width: 111px;
            height: 2px;
            background-color: #a7a99a;
            position: absolute;
            left: 0;
            top: 177px; }
        .chef .chef-banner .chef-story .story .chef_sign {
          color: #929292;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 57px; }
          .chef .chef-banner .chef-story .story .chef_sign span {
            color: #808369;
            font-size: 20px;
            font-weight: 700; }

.stuff {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box; }
  .stuff .stuff_holder {
    width: 100%;
    background-color: #f3f1ec;
    padding-top: 165px; }
    .stuff .stuff_holder .section_title {
      margin-bottom: 113px; }
  .stuff .container {
    padding-bottom: 109px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 780px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }
  .container .stuff_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 57px;
    justify-content: center; }
    .container .stuff_items .stuff_items_item {
      box-sizing: border-box;
      word-wrap: break-word;
      margin-left: 15px;
      margin-right: 15px;
      width: calc(25% - 30px);
      box-sizing: border-box;
      padding: 15px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      @media screen and (max-width: 1920px) {
        .container .stuff_items .stuff_items_item {
          width: calc(25% - 30px); } }
      @media screen and (max-width: 960px) {
        .container .stuff_items .stuff_items_item {
          width: calc(50% - 30px); } }
      @media screen and (max-width: 780px) {
        .container .stuff_items .stuff_items_item {
          width: calc(83.33333% - 30px); } }
      .container .stuff_items .stuff_items_item .stuff_item_name {
        margin-top: 48px;
        margin-bottom: 14px;
        color: #808369;
        font-size: 20px;
        font-weight: 700;
        line-height: 35px; }
      .container .stuff_items .stuff_items_item .stuff_item_role {
        color: #929292;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; }

.galery {
  width: 100%;
  padding: 0 50px;
  padding-bottom: 110px;
  box-sizing: border-box; }
  .galery .galery_holder {
    width: 100%;
    background-color: #fff;
    padding-top: 65px; }
    .galery .galery_holder .section_title {
      margin-bottom: 113px; }

.galery_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 57px; }
  .galery_items .galery_items_small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 10px;
    max-width: 1218px; }
    .galery_items .galery_items_small .small_item {
      margin-bottom: 20px; }
      .galery_items .galery_items_small .small_item.small {
        max-width: 586px;
        margin-right: 20px; }
      .galery_items .galery_items_small .small_item.big {
        max-width: 594px; }
  .galery_items .galery_item_big {
    max-width: 599px;
    box-sizing: border-box;
    padding-left: 10px; }

.conact_form {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box; }
  .conact_form .contact_form_holder {
    width: 100%;
    background-color: #f3f1ec;
    padding-top: 65px;
    padding-bottom: 110px; }
    .conact_form .contact_form_holder .section_title {
      margin-bottom: 113px; }

.contact_form_place {
  max-width: 770px;
  margin: 0 auto; }
  .contact_form_place .input_fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px; }
    .contact_form_place .input_fields input {
      display: block;
      box-sizing: border-box;
      width: 370px;
      height: 66px;
      background-color: #ffffff;
      border: 0;
      color: #808369;
      font-family: "PT Serif";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.4px;
      padding-left: 43px;
      line-height: 66px; }
  .contact_form_place textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 208px;
    border: 0;
    padding: 28px 0 0 44px;
    color: #808369;
    font-family: "PT Serif";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 58px; }

.footer {
  width: 100%;
  background-color: #fff;
  padding-top: 130px;
  position: relative; }
  .footer .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0; }
    @media screen and (max-width: 780px) {
      .footer .container {
        padding-left: 15px;
        padding-right: 15px; } }

.footer_content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 69px; }
  .footer_content .footer_content-item {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(33.33333% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808369;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.4px; }
    @media screen and (max-width: 1920px) {
      .footer_content .footer_content-item {
        width: calc(33.33333% - 30px); } }
    @media screen and (max-width: 960px) {
      .footer_content .footer_content-item {
        width: calc(33.33333% - 30px); } }
    @media screen and (max-width: 780px) {
      .footer_content .footer_content-item {
        width: calc(100% - 30px); } }
    .footer_content .footer_content-item .contacts {
      text-align: right; }
    .footer_content .footer_content-item .adress {
      text-align: left; }

.footer_social {
  width: 100%;
  margin-bottom: 56px; }
  .footer_social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .footer_social ul .footer_social_item {
      width: 42px;
      height: 42px;
      background-color: #a7a99a;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin-right: 8px; }
      .footer_social ul .footer_social_item:last-child {
        margin-right: 0; }
      .footer_social ul .footer_social_item a {
        color: #fff;
        font-size: 14px; }

.footer_copyright {
  width: 100%;
  text-align: center;
  color: #929292;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px; }
  .footer_copyright a {
    display: inline;
    color: #929292;
    text-decoration: underline; }

.top_button {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #fff;
  color: #808369;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
  line-height: 100px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%); }
  .top_button span {
    position: relative;
    top: 12px; }
  .top_button i {
    font-size: 18px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px; }
